<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>
      Remember that the type of soil you are planning to plant in must be suitable
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <h1>Crop name</h1>
      <input matInput [ngModel]="cropform1.name" name="name" placeholder="Write the name here">
    </mat-form-field>
    <div class="checkbox-group">
      <mat-checkbox [(ngModel)]="cropform1.undergrowth" name="undergrowth">Get rid of weeds</mat-checkbox>
      <mat-checkbox [(ngModel)]="cropform1.fertilize" name="fertilize">Fertilize the land</mat-checkbox>
      <mat-checkbox [(ngModel)]="cropform1.oxygenate" name="oxygenate">Oxygenate the land</mat-checkbox>
      <mat-checkbox [(ngModel)]="cropform1.line" name="line">Make the crop lines</mat-checkbox>
      <mat-checkbox [(ngModel)]="cropform1.hole" name="hole">Make the holes</mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button matStepperNext (click)="saveData()">Next</button>
  </mat-card-footer>
</mat-card>
