<app-farmer-navigation></app-farmer-navigation>
<div class="content">
  <div class="product-information">
    <img class="img" src="{{product.imageUrl}}" alt="">
    <div class="product-details">
      <h1 class="product-title">{{ product.name }}</h1>
      <h3>
        Detalles de la planta
      </h3>
      <p>
        Distancia: {{ product.distance }}<br>
        Profundidad: {{ product.depth }}<br>
        Clima: {{ product.weather }}<br>
        Tipo de tierra: {{ product.groundType }}<br>
        Temporada: {{ product.season }}<br>
      </p>
      <h3>
        Plan de Cultivo
      </h3>
      <p>
        Paso 1 --> Finalizado <br>
        Paso 2 --> Finalizado <br>
        Paso 3 --> En desarrollo <br>
        Paso 4 --> Pendiente <br>
        Paso 5 --> Pendiente <br>
      </p>
      <h3>
        Insumos utilizados
      </h3>
      <p>
        Fertilizante: Casero <br>
        Pesticidas: Canela con romero <br>
        Vestimenta: Traje de tela hidrorrepelente <br>
        Empaquetado: 10 cajas de madera <br>
      </p>
    </div>

  </div>
  <div class="buttons">
    <button mat-raised-button [routerLink]="crops" class="button" color="primary">CULTIVAR</button>
  </div>
</div>
