section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  font-size: 18px; /* Ajusta el tamaño del texto del botón */
  padding: 24px 42px; /* Ajusta el espacio alrededor del texto del botón */
  background-color: #3EAF2C;
  color: #ffffff;
  margin-top: 100px;
  margin-left: 850px;

}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 300px;
}
