<div class="page-background">

  <div>
    <mat-card class="Ganancia1">
      <mat-card-header>
        <mat-card-title>Manzanas</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Fruta</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/250</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 300 paquetes</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2019-07-10</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendió 300 paquetes de manzanas a Exportadora de frutas</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color>ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="Ganancia2">
      <mat-card-header>
        <mat-card-title>Zanahorias</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Vegetal</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/200</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 200 paquetes de zanahorias</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2019-11-15</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendió 200 paquetes de zanahorias a Juan Perez</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="Ganancia3">
      <mat-card-header>
        <mat-card-title>Papayas</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Fruta</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/300</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 150 paquetes</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2020-01-15</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendió 150 paquetes de papayas a Distribuidora Tropical</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div>
    <mat-card class="Ganancia4">
      <mat-card-header>
        <mat-card-title>Espinacas</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Vegetal</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/150</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 100 paquetes de espinacas</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2020-02-20</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendió 100 paquetes de espinacas a Supermercado Verde</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="Ganancia5">
      <mat-card-header>
        <mat-card-title>Plátanos</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Fruta</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/180</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 400 paquetes</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2020-03-25</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendió 400 paquetes de plátanos a Comercializadora Frutal</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="Ganancia6">
      <mat-card-header>
        <mat-card-title>Pimientos</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Vegetal</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/220</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 250 paquetes de pimiento</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2020-03-25</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendió 250 paquetes de pimientos a Mercado Fresco</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div>
  <app-button4-content></app-button4-content>
</div>
