<div class="page-background">
  <div class="content Ganancia1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Manzanas</mat-card-title>
        <mat-card-subtitle>Categoría: Fruta</mat-card-subtitle>
        <mat-card-subtitle>Monto: S/250</mat-card-subtitle>
        <mat-card-subtitle>Cantidad: 300 paquetes</mat-card-subtitle>
        <mat-card-subtitle>Fecha: 2019-07-10</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendieron 300 paquetes de manzanas a Exportadora de frutas</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="content Ganancia2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Zanahorias</mat-card-title>
        <mat-card-subtitle>Categoría: Vegetal</mat-card-subtitle>
        <mat-card-subtitle>Monto: S/200</mat-card-subtitle>
        <mat-card-subtitle>Cantidad: 200 paquetes de zanahorias</mat-card-subtitle>
        <mat-card-subtitle>Fecha: 2019-11-15</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendieron 200 paquetes de zanahorias a Juan Perez</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="content Ganancia3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Papayas</mat-card-title>
        <mat-card-subtitle>Categoría: Fruta</mat-card-subtitle>
        <mat-card-subtitle>Monto: S/300</mat-card-subtitle>
        <mat-card-subtitle>Cantidad: 150 paquetes</mat-card-subtitle>
        <mat-card-subtitle>Fecha: 2020-01-15</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendieron 150 paquetes de papayas a Distribuidora Tropical</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="content Ganancia4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Espinacas</mat-card-title>
        <mat-card-subtitle>Categoría: Vegetal</mat-card-subtitle>
        <mat-card-subtitle>Monto: S/150</mat-card-subtitle>
        <mat-card-subtitle>Cantidad: 100 paquetes de espinacas</mat-card-subtitle>
        <mat-card-subtitle>Fecha: 2020-02-20</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendieron 100 paquetes de espinacas a Supermercado Verde</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="content Ganancia5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Plátanos</mat-card-title>
        <mat-card-subtitle>Categoría: Fruta</mat-card-subtitle>
        <mat-card-subtitle>Monto: S/180</mat-card-subtitle>
        <mat-card-subtitle>Cantidad: 400 paquetes</mat-card-subtitle>
        <mat-card-subtitle>Fecha: 2020-03-25</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendieron 400 paquetes de plátanos a Comercializadora Frutal</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="content Ganancia6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pimientos</mat-card-title>
        <mat-card-subtitle>Categoría: Vegetal</mat-card-subtitle>
        <mat-card-subtitle>Monto: S/220</mat-card-subtitle>
        <mat-card-subtitle>Cantidad: 250 paquetes de pimiento</mat-card-subtitle>
        <mat-card-subtitle>Fecha: 2020-03-25</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Se vendieron 250 paquetes de pimientos a Mercado Fresco</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div>
  <app-button4-content></app-button4-content>
</div>
