<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>
      Recuerda que el tipo de suelo en el que estés planeando sembrar debe ser el adecuado
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="checkbox-group">
      <mat-checkbox [(ngModel)]="cropform1.undergrowth" name="undergrowth">Deshacerse de la maleza</mat-checkbox>
      <mat-checkbox [(ngModel)]="cropform1.fertilize" name="fertilize">Abonar el terreno</mat-checkbox>
      <mat-checkbox [(ngModel)]="cropform1.oxygenate" name="oxygenate">Oxigenar el terreno</mat-checkbox>
      <mat-checkbox [(ngModel)]="cropform1.lines" name="lines">Realizar las líneas de cultivo</mat-checkbox>
      <mat-checkbox [(ngModel)]="cropform1.holes" name="holes">Hacer los agujeros</mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button matStepperNext (click)="saveData()">Next</button>
  </mat-card-footer>
</mat-card>
