<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <h1>Preparando el inicio del cultivo</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Regado:</h2>
    <p>Seleccione la fecha en la que comenzará el plan de cultivo</p>
    <mat-form-field>
      <mat-label>Fecha de inicio</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="onSubmit()">Guardar</button>
    <button mat-button matStepperPrevious>Atras</button>
  </mat-card-footer>
</mat-card>
