<div class="container" xmlns="http://www.w3.org/1999/html">
  <h1>Mis pedidos</h1>
  <div class="orders">
    <ng-container *ngFor="let order of pagedOrders">
      <mat-card class="order-card">
        <mat-card-header>
          <p>Fecha: {{order.date}}</p>
        </mat-card-header>
        <mat-card-content>
          <div class="user-info">
            <img alt="user picture" class="user-photo" src="{{getUser(order.userId)?.photo}}">
            <button mat-raised-button>{{getUser(order.userId)?.username}}</button>
          </div>
          <div class="product-info">
            <p>Producto: {{getProduct(order.productId)?.name}}</p>
            <p>Precio Unitario: {{getProduct(order.productId)?.unit_price}}</p>
            <p>Cantidad: {{order.quantity}}</p>
            <p>Precio Total: {{order.totalPrice}}</p>
            <div class="buttons">
              <button color="primary" mat-raised-button (click)="openDialog()">Aceptar</button>
              <button color="warn"  (click)="deleteOrder(order.id)" mat-raised-button>Rechazar</button>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

  <mat-paginator (page)="onPageChange($event)" [hidePageSize]="true" [length]="orders.length" [pageIndex]="pageIndex"
                 [pageSize]="pageSize" class="paginator"></mat-paginator>


</div>
