<div class="page-background">
  <div class="container">
    <h1>Nombre del plan de cultivo</h1>
    <mat-form-field>
      <input matInput placeholder="Escriba el nombre aquí">
    </mat-form-field>

    <mat-horizontal-stepper>
      <mat-step label="Paso 1">
        <crops-card-step1-content (formCompleted1)="handleFormCompleted1($event)"></crops-card-step1-content>
      </mat-step>
      <mat-step label="Paso 2">
        <crops-card-step2-content (formCompleted2)="handleFormCompleted2($event)"></crops-card-step2-content>
      </mat-step>
      <mat-step label="Paso 3">
        <crops-card-step3-content [formData]="combinedFormData"></crops-card-step3-content>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
