<p class="Titulo2">Gastos</p>
<div class="mat--list container">
  <div class="mat--list--item">
    <div class="v--list--item-_-_content">
      <p class="text-1">Recientemente:</p>
    </div>
  </div>
  <div class="mat--list--item">
    <div class="v--list--item-_-_content">
      <p class="text-2">Venta de tomate</p>
      <p class="text-3">Ganancia: S/350</p>
    </div>
  </div>
  <div class="mat--list--item">
    <div class="v--list--item-_-_content">
      <p class="text-4">Venta de lechugas</p>
      <p class="text-5">Ganancia: S/780</p>
    </div>
  </div>
  <div>
    <app-button2-content></app-button2-content>
  </div>
</div>
