<p class="Titulo1">Costos</p>
<div class="mat--list container">

  <div class="mat--list--item">
    <div class="v--list--item-_-_content">
      <p class="text-1">Recientemente:</p>
    </div>
  </div>
  <div class="mat--list--item">
    <div class="v--list--item-_-_content">
      <p class="text-2">Insumos para papa</p>
      <p class="text-3">Precio: S/200 </p>
    </div>
  </div>
  <div class="mat--list--item">
    <div class="v--list--item-_-_content">
      <p class="text-4">Cajas vacias 10x10m</p>
      <p class="text-5">Precio: S/150</p>
    </div>
  </div>
  <div>
    <app-button-content></app-button-content>
  </div>
</div>


