<div class="content">
  <h1 class="rate-title">Califica los productos</h1>
  <div class="products-information">
    <mat-card class="product">
      <img class="img" src="https://github.com/upc-pre-202302-GreatMinds-SW51/Informe-Final_OpenSource/assets/104078975/027de51b-6b9d-4722-b060-e7bdffdc2d48" alt="">
      <div class="buttons">
        <button mat-raised-button class="button" color="">Manzanas</button>
      </div>
    </mat-card>

    <mat-card class="product-details">
      <mat-card-content>
        <p>
          Fecha de compra: 03/09/2023 <br>
          Cantidad: 50 cajas <br>
          Productor: Maria Gracia <br>
          Precio: $/54.00 <br>
          Calificación: <br>
        </p>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
        <div class="buttons">
          <button mat-raised-button (click)="openDialog()" class="button" color="primary">Enviar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="products-information">
    <mat-card class="product">
      <img class="img" src="https://github.com/upc-pre-202302-GreatMinds-SW51/Informe-Final_OpenSource/assets/104078975/f5c2a814-6c9f-4eff-bc4b-d78c3f35fd6e" alt="">
      <div class="buttons">
        <button mat-raised-button class="button" color="">Zanahoria</button>
      </div>
    </mat-card>
    <mat-card class="product-details">
      <mat-card-content>
        <p>
          Fecha de compra: 02/04/2003 <br>
          Cantidad: 50 cajas <br>
          Productor: Maria Gracia <br>
          Precio: $/16.00 <br>
          Calificación: <br>
        </p>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
        <div class="buttons">
          <button mat-raised-button (click)="openDialog()" class="button" color="primary">Enviar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
