<mat-toolbar class="nav">
  <span class="nav-welcome">
    <span mat-card-image><mat-icon>account_circle</mat-icon></span>
    Welcome, user.username
  </span>
  <span class="spacer"></span>

  <!-- Display buttons for farmer -->
  <ng-container *ngIf="isLargeScreen && rol === 'farmer' ">
    <button *ngFor="let route of routesFarmer"
            [routerLink]="route.to"
            mat-button>
      {{ route.label }}
    </button>
  </ng-container>
  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="!isLargeScreen && rol === 'farmer' "><mat-icon>menu</mat-icon></button>
  <mat-menu #userMenu="matMenu">
    <button *ngFor="let route of routesFarmer" [routerLink]="route.to" mat-menu-item>
      {{ route.label }}
    </button>
  </mat-menu>

  <!-- Display buttons for merchant -->
  <ng-container *ngIf="isLargeScreen && rol === 'merchant' ">
    <button *ngFor="let route of routesMerchant"
            [routerLink]="route.to"
            mat-button>
      {{ route.label }}
    </button>
  </ng-container>
  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="!isLargeScreen && rol === 'merchant' "><mat-icon>menu</mat-icon></button>
  <mat-menu #userMenu="matMenu">
    <button *ngFor="let route of routesMerchant" mat-menu-item>
      {{ route.label }}
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
