<div class="page-background">

  <div>
    <mat-card class="Costo1">
      <mat-card-header>
        <mat-card-title>Pago de agua</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Servicio</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/200</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 1</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2019-10-10</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se pago el agua del mes de octubre</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="Costo2">
      <mat-card-header>
        <mat-card-title>Pago de cajas contenedoras</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Servicio</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/500</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 45 cajas contenedoras</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2019-11-10</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se compraron cajas contenedoras para la produccion de zanahorias</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="Costo3">
      <mat-card-header>
        <mat-card-title>Comida para el personal</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Servicio</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/300</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 1</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2019-12-05</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Compra de alimentos para el personal de la granja</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div>
    <mat-card class="Costo4">
      <mat-card-header>
        <mat-card-title>Reparacion de maquinaria</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Servicio</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/800</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 1 reparacion</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2020-01-15</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Se reparo la trilladora de maíz</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="Costo5">
      <mat-card-header>
        <mat-card-title>Semillas de tomate</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Producto</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/150</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 1 paquete de semillas</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2020-02-20</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Compra de semillas de tomate para la temporada de primavera</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="Costo6">
      <mat-card-header>
        <mat-card-title>Jornaleros para la cosecha</mat-card-title>
        <p></p>
        <mat-card-subtitle>Categoria: Servicio</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Monto: S/1000</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Cantidad: 5 jornaleros por 1 semana</mat-card-subtitle>
        <p></p>
        <mat-card-subtitle>Fecha: 2020-03-25</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <p>Contratacion de jornaleros para la cosecha de maiz</p>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div>
  <app-button3-content></app-button3-content>
</div>





