<app-farmer-navigation></app-farmer-navigation>
<div class="page-background">
  <h1>My Expenses</h1>
<div class="container">
  <div *ngFor="let costo of costos">
    <mat-card class="Costo">
      <mat-card-header>
        <mat-card-title>{{ costo.costName }}</mat-card-title>
        <mat-card-subtitle>Categoria: {{ costo.type }}</mat-card-subtitle>
        <mat-card-subtitle>Monto: S/{{ costo.price }}</mat-card-subtitle>
        <mat-card-subtitle>Cantidad: {{ costo.quantity }}</mat-card-subtitle>
        <mat-card-subtitle>Fecha: {{ costo.date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ costo.description }}</p>
      </mat-card-content>
      <mat-card-actions class="buttons">
        <button mat-raised-button class="color">EDITAR</button>
        <button mat-raised-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  <div>
    <app-button3-content></app-button3-content>
  </div>
</div>







