<mat-card class="order-card">
  <mat-card-header>
    <p>Date: {{order.orderedDate}}</p>
  </mat-card-header>
  <mat-card-content>
    <div class="product-info">
      <img alt="{{getProduct(order.saleId)?.name}}" class="product-photo" src="{{getProduct(order.saleId)?.imageUrl}}">
    </div>
    <div class="product-info">
      <p>Product: {{getProduct(order.saleId)?.name}}</p>
      <p>Description: {{getProduct(order.saleId)?.description}}</p>
      <p>Status: {{order.status}}</p>
      <p>Unit Price: {{getProduct(order.saleId)?.unitPrice}}</p>
      <p>Quantity: {{order.quantity}}</p>
      <p>Total Price: {{order.totalPrice}}</p>
    </div>
    <div class="farmer-info">
      <p>Farmer: {{getUser(order.acceptedBy)?.username}}</p>
    </div>
    <div class="buttons">
      <button color="button-color" (click)="viewOrderDetails(order.id)" mat-raised-button>View status</button>
      <button class="warn" mat-raised-button (click)="openDialog(); deleteOrder(order.id)">Cancel</button>
    </div>
  </mat-card-content>
</mat-card>
