<app-merchant-navigation></app-merchant-navigation>
<div class="container">
<mat-card class="order-card">
  <mat-card-header>
    <p>Fecha: {{order.orderedDate}}</p>
  </mat-card-header>
  <mat-card-content>
    <div class="product-info">
      <img alt="{{product.name}}" class="product-photo" src="{{product.imageUrl}}">
    </div>
    <div class="product-info">
      <p>Producto: {{product.name}}</p>
      <p>Descripción: {{product.description}}</p>
      <p>Estado: {{order.status}}</p>
      <p>Precio Unitario: {{product.unitPrice}}</p>
      <p>Cantidad: {{order.quantity}}</p>
      <p>Precio Total: {{order.totalPrice}}</p>
    </div>
    <div class="farmer-info">
      <p>Productor: {{user.username}}</p>
    </div>
    <div class="buttons">
      <button class="warn" mat-raised-button (click)="openDialog(); deleteOrder(order.id)">Cancelar</button>
    </div>
  </mat-card-content>
</mat-card>
</div>
<div class="progress-bar-container">
  <mat-progress-bar
    mode="determinate"
    [value]="calculateProgress(order.status)"
  ></mat-progress-bar>

  <div class="status-description" [ngClass]="{'pending': order.status === 'Pendiente', 'packaging': order.status === 'Empaquetando', 'completed': order.status === 'Finalizado'}">
    <p>
      <span *ngIf="order.status === 'Pendiente'">La compra está pendiente.</span>
      <span *ngIf="order.status === 'Empaquetando'">La compra se está empaquetando.</span>
      <span *ngIf="order.status === 'Finalizado'">La compra fue finalizada.</span>
    </p>
  </div>
  <button mat-icon-button (click)="navigateBack()">
      <mat-icon aria-label="Volver">arrow_back</mat-icon>
  </button>
</div>


